@import "tailwindcss";

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

body {
  background-color: #363636;
  color:#fff;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior: none;
}
