@import "tailwindcss";

@theme {
  --border: #e5e5e5;
  --color-background: #fff;
}


body {
  background-color: #fff;
  color:#000;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior: none;
}


